# fly.toml app configuration file generated for self-checkout-9a4fzg on 2025-11-29T03:26:35Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'self-checkout-9a4fzg'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
